# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/static/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
